.container {
    box-sizing: border-box;
    border-radius: 14px;
    background: #EDF6F3;
    padding: 1em !important;
    margin: 0 !important;
    margin-bottom: 2em !important;

    .label {
        display: block;
        color: #333535;
        font-size: 16px ;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .checkBoxGroup {
        margin-left: 1em;
    }

}