.form {
  width: 80%;
  align-self: center;
  flex-direction: column;
  display: flex;

  .inputLabel {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .formController {
    width: 100%;

    &.pwController {
      margin-bottom: 20px;
    }

    .emailInput {
      border-radius: 8px;
      color: #676A6A;
    }


    .invalidEmailText {
      height: 2.5rem;
      color: red;
      font-size: 16px;
    }
  }

  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .button {
      font-size: 19px;
      border-radius: 6px;
      background: #8fd9a9;
      color: #303230;
      font-weight: 500;
      text-transform: none;
      margin-top: 10em;
      white-space: nowrap;
      height: 60px;
      width: 220px;
    }

    .button:disabled {
      opacity: 0.5;
      color: #7097a8;
      text-transform: none;
    }
  }

