.app {
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    background: #A8E3BD;
    height: 70px;
    align-items: center;

    .title{
      margin-left: 5%;
      color: #303230;
      font-size: 28px;
      font-weight: 400;
    }
  }

  .pendingCasesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
    margin-top: 20vh;

    .emptyText {
      color: #3f403f;
    }

    .icon {
      font-size: 70px;
      align-self: center;
      color: #a5a8a5;
      margin-bottom: 10px;
    }
  }
}

