.app {
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    background: #A8E3BD;
    margin-left: -16px;
    margin-right: -16px;
    height: 70px;
    align-items: center;

    .title{
      margin-left: 5%;
      color: #303230;
      font-size: 28px;
      font-weight: 400;
    }
  }

  .pendingCasesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .loading {
    position: relative;
  }

  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 在垂直方向上居中对齐 */
    align-self: center;
    width: 80%;
    margin-top: 20vh;

    .icon {
      font-size: 70px;
      align-self: center;
    }
  }
}

