$mobile-point: 576px;

.mainLayout {
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  @media screen and (min-width: $mobile-point) {
    max-width: $mobile-point;
    margin: 0 auto;
  }
}
