$mobile-point: 576px;

.layout {
  height: 100%;
  background-color: #fff;
  overflow: hidden auto;
  min-width: 320px;

  &.m{
    @media screen and (min-width: $mobile-point) {
      max-width: $mobile-point;
      margin: 0 auto;
    }
  }
  
}
