.form {
  width: 400px;
  align-self: center;
  flex-direction: column;
  display: flex;

  .inputLabel {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .formController {
    width: 100%;

    .emailInput {
      border-radius: 8px;
      color: #676A6A;
      font-family: Lato, serif;
    }

    .passwordInput {
      border-radius: 8px;
      color: #676A6A;
      font-family: Lato, serif;
    }

    .invalidEmailText {
      margin: 10px 0;
      color: red;
      font-family: Lato, serif;
      font-size: 16px;
      height: 20px;
    }
  }

  .passwordRuleText {
    margin-top: 10px;
    color: #6e6d6d;
    font-family: Lato, serif;
    font-size: 16px;
    height: 40px;
  }

  .invalidPasswordText {
    margin-top: 10px;
    color: red;
    font-family: Lato, serif;
    font-size: 16px;
    height: 40px;
  }

  .redirectTextContainer {
    flex-direction: row;
    display: flex;
    align-items: center;
    align-self: center;

    .redirectHintText {
      font-size: 18px;
      font-family: Lato, serif;
    }

    .redirectText {
      margin-left: 10px;
      font-size: 18px;
      text-decoration: none;
      color: #1793bd;
      font-family: Lato, serif;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .button {
      height: 50px;
      width: 200px;
      font-size: 19px;
      border-radius: 6px;
      background: #8fd9a9;
      color: #303230;
      font-family: Lato, serif;
      font-weight: 500;
      text-transform: none;
    }

    .button:disabled {
      opacity: 0.5;
      color: #7097a8;
      text-transform: none;
    }
  }
}
