.header {
    background: #7097A8;
    color: #303230;
    font-size: 28px;
    font-weight: 400;
    line-height: 60px; 
    padding: 4px 0;
    padding-left: 40px;
}

.container {
    margin: 2rem 28px;

    .index {
        margin: 1rem;
        margin-top: 2rem;

        .circle {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #303230;
            margin-right: 4px;
        }

        &.require::after {
            content: "*";
            font-size: 1.2rem;
        } 
    }

    .otherFiled {
        margin: 2rem 0;
    }

    .submit {
        width: 124px;
        line-height: 40px;
        letter-spacing: 0.55px;
        font-weight: 500;
    }
}