.caseCardContainer{
  width: 80%;
  padding: 20px;
  border-radius: 16px;
  background: #EDF6F3;
  margin-bottom: 20px;

  .caseIdContainer {
    color: #303230;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .chiefComplaintContainer {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7097A8;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .patientInfoContainer {
    color: #303230;
    font-size: 16px;
    font-weight: 400;
  }
}
