.app {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  // height: 800px; 100%
  // margin: 0 1rem;

  .headerContainer {
    display: flex;
    background: #DDF2E5;
    height: 70px;
    align-items: center;

    .header{
      margin-left: 5%;
      color: #303230;
      font-size: 28px;
      font-weight: 400;
    }
  }

  .container {
    margin: 0 28px;

    .title {
      margin-left: 1rem;
      margin-top: 1rem;
      border-radius: 6px;
      padding: 0 1rem;
      width: max-content;
      height: 32px;
      color: #FFF;
      text-align: center;
      font-size: 11px;
      line-height: 300%;
      letter-spacing: 1.1px;
      position: relative;
      z-index: 2;
      background: var(--title-background);
    }

    .card {
      padding: 1rem;
      margin-bottom: 1rem;
      width: auto;
      height: auto;
      flex-shrink: 0;
      border-radius: 15px;
      position: relative;
      z-index: 1;
      background: var(--card-background);

      .subTitle {
        // margin: 0 15px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
        color: var(--sub-title-color);
      }

      .subTitleHighlight {
        color: #7DAAA4;
      }

      .content {
        color: #303230;
        margin: 0 15px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
      }

      .contentTitle {
        font-weight: 600;
      }
    }

    .firstCard {
      top: -1rem;
      padding-top: 1.5rem;
      margin-bottom: 0;
    }

    .highlight {
      filter: drop-shadow(6px 6px 6px black);
    }

    .highlightContent {
      background: #AFFFCC;
    }

  }

  .submitDiv {
    width: auto;
    height: auto;
    margin: 1rem 28px 2rem;

    .submit {
      width: 128px;
      height: 38px;
      border-radius: 6px;
      background: #A8E3BD;
      color: #303230;
      text-align: center;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.55px;
      float: right;
    }
  }

  ul {
    margin-block: 0 0
  }

}